<%= render 'shared/page_title', title: "Chef : " + @user.chefname %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user, size: 200 %>
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <h3> <em>Recipes</em></h3>
    <%= will_paginate @recipes %>
  </div>
</div>
<% @recipes.each do |r| %>
<div class="row">
  <div class="col-lg-6 well col-lg-offset-3">
    <h2><%= link_to r.name, recipe_path(r) %></h2>
    <h3><%= r.summary %></h3>
    <p>
      <span class='quiet'><small> Created: <%= time_ago_in_words(r.created_at)%> ago, </small></span>
      <span class='quiet'><small> updated: <%= time_ago_in_words(r.updated_at)%> ago</small></span>
    </p>
    <h4><%= r.description %></h4>
    <div class="pull-right ">
      <%= link_to like_recipe_path(r, like: true), method: :post do %>
      <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= r.thumbs_up_total %>
      <% end %> &nbsp&nbsp&nbsp&nbsp
      <%= link_to like_recipe_path(r, like: false), method: :post do %>
      <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= r.thumbs_down_total %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
